table,td
{
    border:2px solid black;
    border-collapse: collapse;
    
}
td
{
    padding: 10px;
}
.grey{
    background-color: lightgray;
    
}
.lightg{
    background-color: rgb(249, 245, 245);

}